@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width:100%;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dbdbdb;
  background-color: #333333;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

*{
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img{
  max-width: 100%;
}

input{
  font-family: var(--font-family);
}

::placeholder{
  font-size: var(--font-family);
}
